    "folder_id": "id",
    "source_image_family": "ubuntu-1604-lts",
    "service_account_key_file_path": "/path/to/key.json",
    "platform_id": "standard-v1",
    "instance_cores": "2",
    "instance_mem_gb": "16",
    "instance_name": "reddit-app-instance"
    "key": "key.json"
    "fid": "abcde"
    "image": "ubuntu-1604-lts"