    token                    = "123"
    cloud_id                 = "et41"
    folder_id                = "kjl8"
    zone                     = "ru-central1-a"
    image_id                 = "7c6e"
    public_key_path          = "user.yaml"
    network_id               = "enpd"
    subnet_id                = "tqln"
    service_account_key_file = "key.json"
    privite_key              = "id_ed25519"
    private_key_path         = "~/.ssh/appuser"
    app_count                = 2