{
   "id": "uuuuuuuuuuuuuuuuuuu",
   "service_account_id": "vvvvvvvvvvvvvvvvvvvv",
   "created_at": "2023-09-07T11:36:20.324632341Z",
   "key_algorithm": "RSA_2048",
   "public_key": "-----BEGIN PUBLIC KEY-----\neeeeeeeeeeeeeeeeeeeee\n-----END PUBLIC KEY-----\n",
   "private_key": "-----BEGIN PRIVATE KEY-----\nzzzzzzzzzzzzzzzzzzzzz\n-----END PRIVATE KEY-----\n"
}
