cloud_id                 = "b1g5lp0c7c571dabep9c"
folder_id                = "b1g0bgapni0osi095ffl"
zone                     = "ru-central1-a"
image_id                 = "fd89glgotaq3e6d2jjta"
service_account_key_file = "/home/maxwell/Otus/key.json"
private_key_path         = "/home/maxwell/.ssh/ubuntu"
public_key_path          = "/home/maxwell/.ssh/ubuntu.pub"
subnet_id                = "e9b24d2brea26rc2tc3a"
db_disk_image            = "fd83otbkphk8brb8p64u"
app_disk_image           = "fd89ugfbm8d6o1ja3ae3"
